<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 5%;
            font-family: 'Arino', sans-serif;
            font-size: small;
        }

        .error {
            color: red;
        }

        .input-group {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <div id="app">
      <h1>Hello App!</h1>
      <p>
        <!-- use the router-link component for navigation. -->
        <!-- specify the link by passing the `to` prop. -->
        <!-- `<router-link>` will render an `<a>` tag with the correct `href` attribute -->
        <router-link to="/">Go to Home</router-link>
        <router-link to="/kelas">Kelas</router-link>
        <router-link to="/about">Go to About</router-link>
      </p>
      <router-view :items="kelas" v-on:submitkelas="submitKelas" v-on:hapuskelas="hapusKelas">
      </router-view>
      <div>
        <header>
            <img src="https://vuejs.id/hero.png" alt="logo vue" width="500">
            <h3>Hello, Vue.js</h3>
            <p>The Progressive JavaScript framework</p>
        </header>
    </div>
      <!-- route outlet -->
      <!-- component matched by the route will render here -->
    </div>

    <script>
        const Home = { 
            template: `
            
            ` 
        }
        const Kelas = { 
            props: ['items'],
            template: `
                <div>
                    <h3>Input Kelas</h3>
                    
                    <form @submit.prevent="submitInput">
                        <div class="input-group">
                            <input type="text" placeholder="Nama Kelas" v-model="kelas.judul">
                            <div class="error" v-if="error.judul"><small>{{error.judul}}</small></div>
                        </div>

                        <div class="input-group">
                            <label>Deskripsi: </label> <br>
                            <textarea v-model="kelas.deskripsi"></textarea>
                            <div class="error" v-if="error.deskripsi"><small>{{error.deskripsi}}</small></div>
                        </div>

                        <div class="input-group">
                            <p><img :src="previewimg" ref="gambar" v-if="previewimg" width="200"/></p>
                            <label>Masukkan Gambar</label> <br>
                            <input type="file" v-on:change="uploadimage"/>
                            <div class="error" v-if="error.gambar"><small>{{error.gambar}}</small></div>
                        </div>
                        <button type="submit">Submit</button>
                    </form>

                    <hr>
                    <h4>list Bahasa Pemograman</h4>
                    <template v-if="items.length">
                        <ul>
                            <li v-for="(item, index) of items">
                                <img :src="'image/' + item.gambar" width="200"/>
                                <p>
                                    {{ index+1 }} - {{ item.judul }}
                                      <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                                      <router-link :to="'/kelas/' + item.id">Detail kelas</router-link>
                                </p>
                            </li>
                        </ul>
                    </template>
                    <p v-else>Bahasa Pemograman Tidak Tersedia</p>
                </div>
            `,
            data() {
                return {
                    kelas: {
                        judul: '',
                        deskripsi: '',
                        gambar: ''
                    },
                    previewimg: '',
                    error: {
                        judul: '',
                        deskripsi: '',
                        gambar: ''
                    }
                }
            },
            methods: {
                submitInput: function(){
                    // console.log(this.kelas)
                    this.error.judul = ''
                    this.error.deskripsi = ''
                    this.error.gambar = ''
                    if (this.kelas.judul == ''){
                        this.error.judul = 'Judul is required'
                    }
                    if (this.kelas.deskripsi == ''){
                        this.error.deskripsi = 'Deskripsi is required'
                    }
                    if (this.kelas.gambar == ''){
                        this.error.gambar = 'Image is required'
                    }
                    if (this.kelas.judul && this.kelas.deskripsi && this.kelas.gambar){
                        const data = {
                            id: uuidv4(),
                            judul: this.kelas.judul,
                            deskripsi: this.kelas.deskripsi,
                            gambar: this.kelas.gambar
                        }
                        // console.log(data)
                        this.$emit('submitkelas', data)
                        this.kelas.judul = ''
                        this.kelas.deskripsi = ''
                        this.kelas.gambar = ''
                        this.previewimg = ''
                        // this.$refs.gambar.value = ''
                    }
                    
                },
                uploadimage: function(event){
                    // console.log(event)
                    const namaGambar = event.target.files[0].name
                    this.kelas.gambar = namaGambar
                    this.previewimg = URL.createObjectURL(event.target.files[0])
                }
            }
        }
        const detailKelas = {
            template: `<div>Detail Kelas</div>`
        }
        const About = { 
            template: `
                <footer id="footer">
                    <p>copyright 2022</p>
                </footer>
            ` 
        }
        const NotFound = {
            template: `<div>Halaman Tidak Ditemukan.</div>`
        }

        const routes = [
            { path: '/', component: Home },
            { path: '/kelas', component: Kelas},
            { path: '/kelas/:id', component: detailKelas},
            { path: '/about', component: About },
            { path: '/:pathMatch(.*)*', name: 'NotFound', component: NotFound }
        ]

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes, // short for `routes: routes`
        })

        const app = Vue.createApp({
            data() {
                return {
                    // kelas: [
                    //     {id: 1, judul: 'Vuejs', deskripsi: 'The Progressive JavaScript Framework', gambar: "vue.jpeg"}, 
                    //     {id: 2, judul: 'Reactjs', deskripsi: 'A JavaScript library for building user interfaces', gambar: "react-logo.jpg"}
                    // ],
                    kelas: []
                }
            },
            created() {
                this.kelas = JSON.parse(localStorage.getItem('kelas')) || []
                console.log('created')
            },
            beforeCreate() {
                console.log('before-create')
            },
            beforeMount() {
                console.log('before-mount')
            },
            mounted() {
                console.log('mounted')
            },
            beforeUpdate() {
                console.log('before-update')
            },
            updated() {
                console.log('updated')
            },
            methods: {
                hapusKelas: function(id) {
                    // console.log(id)
                    this.kelas = this.kelas.filter(item => item.id != id)
                    localStorage.setItem('kelas', JSON.stringify(this.kelas))

                    swal({
                        text: 'Data berhasil dihapus',
                        icon: 'warning'
                    })
                },
                submitKelas: function(data){
                    // console.log(data)
                    this.kelas.push(data)
                    localStorage.setItem('kelas', JSON.stringify(this.kelas))
                //     this.kelas.unshift(event.target.value)
                //     event.target.value = ''
                    swal({
                        title: data.judul,
                        text: 'Data berhasil disimpan',
                        icon: 'success'
                    })
                }
            }
        })

        app.use(router)

        app.mount('#app')

        // const vue = new Vue({

        // })

    </script>
</body>
</html>